/* reset */
@import url("./reset.css");
body {
  background-color: #222222;
}
html {
  font-size: 16px;
}

/* Layouts */
#app {
  box-sizing: border-box;
  border-radius: 0.5rem;
  overflow: hidden;
}
.wrapper{
  max-width: 1200px;
  margin: 50px auto 0;
}


/* Components */

.nav{
  float: left;
  margin-right: 20px;
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.nav::before{
  content: '';
  display: block;
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  background-image: url('./images/pixar_icon.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav .nav-btn{
  text-align: left;
  font-size: 1.2rem;
  color: #727272;
}

.nav .nav-btn:hover{
  color: #fff;
  font-weight: 700;
}

.nav .nav-btn.focus-on{
  color: #fff;
  font-weight: 700;
}

.cover-img {
  padding-top: 60%;
  background-image: url("./images/bg_cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -70px;
  background: rgb(17,17,17);
  background: linear-gradient(0deg, rgba(17,17,17,1) 90%, rgba(17,17,17,0.4964595921450151) 95%, rgba(17,17,17,0) 100%);
  padding: 0 5% 2rem;
  color: #FFF;
}

.movie-explain {
  max-width: 600px;
  padding-bottom: 50px;
}
.movie-info {
  max-width: 260px;
  margin-top: 2rem;
}

.movie-explain .title {
  position: relative;
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.movie-explain .title::before{
  content: "NEW";
  position: absolute;
  top: -24px;
  left: 5px;
  background-color: orangered;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  padding: 0.2rem 0.5rem 0.2rem 0.8rem;
  border-bottom: 0.4rem solid #b83a06;
}

.movie-explain p {
  color: #999;
  font-size: 0.8rem;
  line-height: 160%;
  word-break: keep-all;
}

.movie-explain p + p {
  margin-top: 1rem;
}

.movie-info div + div {
  margin-top: 2rem;
}

.movie-info div h3 {
  margin-bottom: 1.5rem;
}

.movie-info .movie-genre {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.movie-info .movie-genre li {
  padding: 5px 8px;
  box-sizing: border-box;
  background-color: #222;
  color: #999;
  border-radius: 0.4rem;
}

.movie-info .movie-genre li:hover{
  outline: 1px solid #999;
}

.movie-info .rating-box::after {
  content: "";
  display: block;
  width: 250px;
  height: 50px;
  background-image: url("./images/star.png"), url("./images/star.png");
  background-repeat: no-repeat;
  background-position: 0px 0px, -100px -50px;
  background-size: cover, cover;
}

.movie-info .cast-box ul {
  display: flex;
}

.movie-info .cast-img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 4rem;
  border: 5px solid #000;
  transition: all 0.5s;
  transition-timing-function: ease;
}

.movie-info .cast-img:hover{
  width: 4rem;
  height: 4rem;
  transition: all 0.5s;
  transition-timing-function:ease;
}

.movie-info .cast-box ul li + li {
  margin-left: -12px;
}

.movie-info h3{
  font-weight: 700;
}

.cast-img-box{
  display: flex;
  vertical-align: center;

  height: 4rem;
}

@media screen and (max-width:1250px){
  .nav{
    display: none;
  }
  #app{
    margin: 0 auto;
    max-width: 1100px;
  }
}

@media screen and (max-width:1150px){
  #app{
    margin: 50px 20px;
  }
}

@media screen and (max-width:1000px){
  .movie-explain{
    max-width: 100%;
  }
  .movie-explain .title {
    font-size: 3rem;
  }
  .content-wrapper{
    background: linear-gradient(0deg, rgba(17,17,17,1) 92%, rgba(17,17,17,0.4964595921450151) 97%, rgba(17,17,17,0) 100%);
  }
  .movie-explain{
    padding-bottom: 0;
  }
}